li { 
  position: relative;
  background-color:#0b145a;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 0px #3B3126;
  cursor: pointer;
}

p{
  display: inline-block;
  margin: 0;
  width: 75%;
  text-align: center;
  color: white;
}
.TodoItemCompleted{
  text-decoration: line-through;
}
