.TodoButtonCss{
  background-color: #61DAFA;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  z-index: 1;
  transform: rotate(0);
  transition: .3s ease;
  animation: glowing 2000ms infinite;
}
.TodoButtonCss:hover {
  transform: rotate(224deg);
  z-index: 1;
}
@keyframes glowing {
  0% {
    background-color: hsl(193, 94%, 68%);
    box-shadow: 0 0 5px #61DAFA;
  }
  50% {
    background-color: hsl(193, 94%, 48%);
    box-shadow: 0 0 20px hsl(193, 94%, 48%);
  }
  100% {
    background-color: hsl(193, 94%, 28%);
    box-shadow: 0 0 5px hsl(193, 94%, 28%);
  }
}
