body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-image: linear-gradient(-45deg, #8409fb 0%, #435cd8 35%, #2f55cc 51%, #252cb3 100%);
}

