.icon-complete svg{
  display: inline-block;
  width: 32px;
  height: 32px;
}

.icon-delete {
  position: absolute;
  top: calc(0% - 10px);
  left: calc(100% - 24px);
  width:24px;
  height: 24px;
}
.icon-complete svg:hover{
  fill:green;
}
.icon-delete svg:hover{
  fill: red;
}
